engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
package-import-method=clone-or-copy

# Enforce pnpm usage
engine-strict=true
enable-pre-post-scripts=true
node-linker=hoisted
